@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #F5F6FA;
}

/*///// GRID STRUCTUUR /////*/
.grid-container {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(12, 1fr);
}
.bg-image {
  grid-column: 1/13;
  grid-row: 1;
  background-image: url(../img/bg2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
}

/*///// HEADER /////*/
header {
  grid-column: 1/13;
  grid-row: 1;
  padding: 30px 30px 0px 30px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#menubars {
  width: 20px;
}
#melding {
  height: 27px;
}
.space {
  height: 50px;
}
h1 {
  font-size: 15px; /* 5vw */
  font-weight: 400;
  margin-bottom: 0px;
  color: #fff;
}
h2 {
  font-size: 28px; /* 5vw */
  font-weight: 500;
  margin-top: 14px;
  color: #fff;
}
.btn-inloggen {
  width: 100px;
  height: 30px;
  background-color: #37E39F;
  box-shadow: 0px 3px 6px 0px #585858;
  text-decoration: none;
  padding: 10px 20px 3px 20px;
  border-radius: 24px;
  color: #fff;
  text-align: center;
  display: inline-block;
  float: right;
  position: relative;
  top: -80px;
}


/*///// SLIDE SECTION /////*/
.slide-section {
  grid-column: 1/13;
  grid-row: 2;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scrolling-wrapper .card {
  display: inline-block;
}
.scrolling-wrapper-flexbox {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.scrolling-wrapper-flexbox .card {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}
.card {
  width: 150px;
  height: 120px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 6px 12px 0px rgba(175,175,175,0.26);
  margin: 10px;
}
.scrolling-wrapper,
.scrolling-wrapper-flexbox {
  height: 200px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper::-webkit-scrollbar,
.scrolling-wrapper-flexbox::-webkit-scrollbar {
  display: none;
}

/* slide-one */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.top-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.card-icon {
  width: 30px;
  margin: 0;
}
h3 {
  font-size: 17px; /* 5vw */
  font-weight: 500;
  margin: 0px 0px 3px 0px;
  color: #000;
}
.ondertitel {
  font-size: 13px;
  color: #9A9CB8;
}
.weerinfo {
  font-size: 30px;
}

/*///// TIME SECTION /////*/
.time-section {
  grid-column: 1/13;
  grid-row: 3;
  padding: 0px 10px;
}
h4 {
  font-size: 20px; /* 5vw */
  font-weight: 500;
  margin-bottom: 10px;
  color: #000;
}
.content-box {
  width: 100%;
  height: 120px;
  background-color: #fff;
  box-shadow: 0px 13px 20px 0px #D6D6D6;
  border-radius: 8px;
}
.time-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time-box > span {
  font-size: 50px;
  margin-left: 40px;
  font-weight: 500;
}
#rocketman {
  position: relative;
  top: -40px;
  left: -40px;
}

/*///// HERSTEL CHART SECTION /////*/
.herstel-section {
  grid-column: 1/13;
  grid-row: 4;
  padding: 0px 10px;
}
.herstel-box {
  background: linear-gradient(150deg, rgba(196,96,239,1) 0%, rgba(67,10,255,1) 100%);
  height: 350px;
}

/*///// LANDING SECTION /////*/
.landing-section {
  grid-column: 1/13;
  grid-row: 5;
  padding: 0px 10px;
}
.landings-box {
  height: 300px;
}
.landings-box:first-of-type {
  margin-bottom: 50px;
}


/*///// HOTEL SECTION /////*/
.hotel-section {
  grid-column: 1/13;
  grid-row: 6;
  padding: 0px 10px;
  margin-top: 50px;
}
.hotel-box {
  padding: 20px;
  max-width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 13px 20px 0px #D6D6D6;
  border-radius: 8px;
}
.hotel-title-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#hotel-title {
  font-size: 17px; /* 5vw */
  font-weight: 500;
  color: #000;
}
#search-img {
  width: 100px;
}
.hotels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px;
  border-bottom: 0.8px solid #D9D9D9;
}
.rating {
  margin-left: 10px;
  max-width: 180px;
}
.first-hotel {
  margin-top: 40px;
}
#arrow-down {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}


/*///// ALARM SECTION /////*/
.alarm-section {
  grid-column: 1/13;
  grid-row: 7;
  padding: 0px 10px;
  margin-top: 50px;
}
.alarm-box {
  padding: 20px;
  max-width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 13px 20px 0px #D6D6D6;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
#alarm-img {
  margin-right: 20px;
}
.notificatie > h4 {
  margin-top: 0px;
}


/*///// FOOTER /////*/
.footer {
  grid-column: 1/13;
  grid-row: 8;
  padding: 0px 10px;
  margin-top: 50px;
  background: linear-gradient(90deg, #430AFF 0%, #8160EF 100%);
}
.footer > p {
  margin: 0 auto;
  color: #fff;
  font-size: 12px;
  font-weight: 200;
  padding: 15px 0px;
  text-align: center;
  line-height: 1.8em;
}
