@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #F5F6FA;
  min-width: 340px;
}


/*///// GRID STRUCTUUR /////*/
.grid-container {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(12, 1fr);
}
.bg-image {
  grid-column: 1/13;
  grid-row: 1;
  background-image: url(../img/bg2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 430px;
}


/*///// HEADER /////*/
header {
  grid-column: 1/13;
  grid-row: 1;
  padding: 30px 30px 0px 30px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#menubars {
  width: 20px;
}
#melding {
  height: 27px;
}
.space {
  height: 50px;
}
h1 {
  font-size: 15px; /* 5vw */
  font-weight: 400;
  margin: 0px;
  color: #fff;
}
h2 {
  font-size: 30px; /* 5vw */
  font-weight: 500;
  margin-top: 14px;
  color: #fff;
}
#btn-weergeven {
  display: flex;
  align-self: flex-end;
  width: 80px;
  height: 25.1px;
  background-color: #37E39F;
  text-decoration: none;
  padding: 7px 10px 0px 20px;
  margin-top: 20px;
  border-radius: 24px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  position: relative;
  top: -52px;
  left: 40px;
}
#btn-weergeven:hover {
  background-color: #36d495;
}
.btn-animation {
  animation: glowing 300ms 4;
}
@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 15px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}
.header-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
}
.header-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header-weer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  position: relative;
  left: -20px;
  max-width: 500px;
}
.weer-input {
  border: none;
  border-radius: 24px;
  height: 30px;
  padding-left: 20px;
  width: calc(100% + 20px);
  max-width: 400px;
  box-shadow: 0px 6px 12px 0px rgba(175,175,175,0.26);
}
.placeholder:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: #ccc;
}


/*///// SLIDE SECTION /////*/
.slide-section {
  grid-column: 1/13;
  grid-row: 2;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scrolling-wrapper .card {
  display: inline-block;
}
.scrolling-wrapper-flexbox {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.scrolling-wrapper-flexbox .card {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 160px;
  height: 120px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 6px 12px 0px rgba(175,175,175,0.26);
  margin: 0px 10px 10px 10px;
}
.scrolling-wrapper,
.scrolling-wrapper-flexbox {
  height: 200px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper::-webkit-scrollbar,
.scrolling-wrapper-flexbox::-webkit-scrollbar {
  display: none;
}

/* slide-one */
.top-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.card-icon {
  width: 30px;
  height: 30px;
  margin: 0;
}
.title {
  margin-left: 10px;
}
h3 {
  font-size: 17px; /* 5vw */
  font-weight: 500;
  margin: 0px 0px 3px 0px;
  color: #000;
}
.ondertitel {
  font-size: 13px;
  color: #9A9CB8;
}
.weerinfo {
  font-size: 30px;
}


/*///// TIME SECTION /////*/
.time-section {
  grid-column: 1/13;
  grid-row: 3;
  padding: 0px 10px;
}
h4 {
  font-size: 20px; /* 5vw */
  font-weight: 500;
  margin-bottom: 8px;
  color: #000;
}
.time-box {
  width: 100%;
  height: 120px;
  background-color: #fff;
  box-shadow: 0px 13px 20px 0px #D6D6D6;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time-box > span {
  font-size: 40px;
  margin-left: 35px;
  font-weight: 500;
}
#rocketman {
  position: relative;
  top: -40px;
  left: -30px;
}


/*///// HERSTEL CHART SECTION /////*/
.herstel-section {
  grid-column: 1/13;
  grid-row: 4;
  padding: 0px 10px;
  margin-top: 50px;
}
.herstel-box {
  background: linear-gradient(150deg, rgba(196,96,239,1) 0%, rgba(67,10,255,1) 100%);
  height: auto;
  padding: 30px 40px 30px 20px;
  max-width: 100%;
  box-shadow: 0px 13px 20px 0px #D6D6D6;
  border-radius: 8px;
}
#herstel-img {
  width: 25px;
  align-self: flex-start;
}
.herstel-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.herstel-title > header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
}
.herstel-title > header > h3, .herstel-title > header > span {
  color: #fff;
  margin-left: 10px;
}
#myChart {
  display: block;
  width: 100%;
  height: 100%;
}

/*///// LANDING SECTION /////*/
.landing-section {
  grid-column: 1/13;
  grid-row: 5;
  padding: 0px 10px;
  margin-top: 50px;
}
.landings-box {
  height: 300px;
  max-width: 100%;
  border-radius: 8px;
}
#map {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}


/*///// HOTEL SECTION /////*/
.hotel-section {
  grid-column: 1/13;
  grid-row: 6;
  padding: 0px 10px;
  margin-top: 50px;
}
.hotel-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  max-width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 13px 20px 0px #D6D6D6;
  border-radius: 8px;
}
.hotel-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hotel-title-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#hotel-title {
  font-size: 17px; /* 5vw */
  font-weight: 500;
  color: #000;
}
#search-img {
  width: 100px;
}
.hotels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px;
  border-bottom: 0.8px solid #D9D9D9;
}
.phone-hotel {
  display: flex;
  justify-content: flex-start;
}
.rating {
  margin-left: 10px;
  max-width: 180px;
}
.first-hotel {
  margin-top: 20px;
}
#arrow-down {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

/*///// VIDEO SECTION /////*/
.video-section {
  grid-column: 1/13;
  grid-row: 7;
  padding: 0px 10px;
  margin-top: 50px;
}
.landingsvideo {
  height: auto;
}
.landingsvideo > video {
  max-width: 100%;
  border-radius: 8px;
}


/*///// ALARM SECTION /////*/
.alarm-section {
  grid-column: 1/13;
  grid-row: 8;
  padding: 0px 10px;
  margin-top: 50px;
}
.alarm-box {
  padding: 20px;
  max-width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 13px 20px 0px #D6D6D6;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.alarm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
}
.alarm-arrow {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}
#alarm-img {
  margin-right: 20px;
}
#arrow-right {
  display: block;
  margin: 0 auto;
}
.notificatie > h4 {
  margin-top: 0px;
}


/*///// FOOTER /////*/
.footer {
  grid-column: 1/13;
  grid-row: 9;
  padding: 0px 10px;
  margin-top: 50px;
  background: linear-gradient(90deg, #430AFF 0%, #8160EF 100%);
}
.footer > p {
  margin: 0 auto;
  color: #fff;
  font-size: 12px;
  font-weight: 200;
  padding: 15px 0px;
  text-align: center;
  line-height: 1.8em;
}

@media only screen and (min-width: 576px) {
  .time-box > span {
    font-size: 45px;
  }
  #rocketman {
    position: relative;
    top: -50px;
    left: -70px;
    width: 120px;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 65px;
  }
  .time-box {
    height: 160px;
  }
  .time-box > span {
    font-size: 65px;
  }
  #rocketman {
    position: relative;
    top: -50px;
    left: -100px;
    width: 150px;
  }

  .herstel-section {
    grid-column: 1/7;
    grid-row: 4;
    padding: 0px 10px;
    margin-top: 50px;
  }
  .herstel-box {
    height: calc(100% - 50px);
  }
  .landing-section {
    grid-column: 7/13;
    grid-row: 4;
    padding: 0px 10px;
    margin-top: 50px;
  }
  .landings-box {
    height: calc(100% - 57px);
    border-radius: 8px;
  }

  .hotel-section {
    grid-column: 1/8;
    grid-row: 5/7;
  }
  .hotel-box {
    height: calc(100% - 100px);
  }

  .video-section {
    grid-column: 8/13;
    grid-row: 5;
    margin-top: 50px;
  }
  .landingsvideo {
    height: 50%;
  }
  .alarm-section {
    grid-column: 8/13;
    grid-row: 6;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-end;
  }
}

@media only screen and (min-width: 1200px) {
  .bg-image {
    height: 380px;
  }
  #phone {
    width: 2.5em;
  }
  .rating {
    margin-left: 13px;
    max-width: 220px;
  }
  .afst {
    width: 5em;
  }
}

@media only screen and (min-width: 1325px) {
  .scrolling-wrapper-flexbox .card {
    flex: auto;
  }
  .card {
    width: calc(16.666% - 40px);
    flex: auto;
  }
}
